---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.10/website/content/v1.10/schemas/config.schema.json
machine:
  type: controlplane
  ca:
    crt: {{ ENV.MACHINE_CA_CRT }}
    key: {{ ENV.MACHINE_CA_KEY }}
  features:
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
        - os:admin
      allowedKubernetesNamespaces:
        - actions-runner-system
        - system-upgrade
  files:
    - content: |
        apiVersion: apiserver.config.k8s.io/v1beta1
        kind: AuthenticationConfiguration
        jwt:
        - issuer:
            url: https://auth.mrtb.io
            audiences:
            - {{ ENV.AUTH_CLIENT_ID }}
          claimMappings:
            username:
              claim: preferred_username
              prefix: "oidc:"
            groups:
              claim: groups
              prefix: "oidc:"
          userValidationRules:
          - expression: "!user.username.startsWith('system:')"
            message: "username cannot use reserved system: prefix"
      permissions: 0o644
      path: /var/kubernetes/authenticationconfiguration.yaml
      op: create
cluster:
  aggregatorCA:
    crt: {{ ENV.CLUSTER_AGGREGATORCA_CRT }}
    key: {{ ENV.CLUSTER_AGGREGATORCA_KEY }}
  allowSchedulingOnControlPlanes: true
  apiServer:
    image: registry.k8s.io/kube-apiserver:{{ k8s_version }}
    extraArgs:
      authentication-config: /system/config/kubernetes/authenticationconfiguration.yaml
      enable-aggregator-routing: "true"
    extraVolumes:
      - hostPath: /var/kubernetes/authenticationconfiguration.yaml
        mountPath: /system/config/kubernetes/authenticationconfiguration.yaml
        readonly: true
    certSANs:
      - api.k8s.internal
      - 172.16.1.230
      - 127.0.0.1 # KubePrism
    disablePodSecurityPolicy: true
  ca:
    crt: {{ ENV.CLUSTER_CA_CRT }}
    key: {{ ENV.CLUSTER_CA_KEY }}
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:{{ k8s_version }}
  coreDNS:
    disabled: true
  etcd:
    advertisedSubnets:
      - 172.16.1.0/24
    ca:
      crt: {{ ENV.CLUSTER_ETCD_CA_CRT }}
      key: {{ ENV.CLUSTER_ETCD_CA_KEY }}
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  proxy:
    disabled: true
    image: registry.k8s.io/kube-proxy:{{ k8s_version }}
  scheduler:
    image: registry.k8s.io/kube-scheduler:{{ k8s_version }}
  secretboxEncryptionSecret: {{ ENV.CLUSTER_SECRETBOXENCRYPTIONSECRET }}
  serviceAccount:
    key: {{ ENV.CLUSTER_SERVICEACCOUNT_KEY }}
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: 172.16.1.230
link: enp1s0