---
machine:
  install:
    image: factory.talos.dev/metal-installer/{{ schematic }}:{{ talos_version }}
    diskSelector:
      model: TS240GMTS420S
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: alpha.k8s.internal
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: enp1s0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: PERSISTENT
provisioning:
  diskSelector:
    match: system_disk
  minSize: 10GB
  maxSize: 10GB