---
machine:
  install:
    image: factory.talos.dev/metal-installer/{{ schematic }}:{{ talos_version }}
    diskSelector:
      model: SAMSUNG*
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: delta.k8s.internal
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: eno1
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: miroir
provisioning:
  diskSelector:
    match: system_disk
  grow: true
  minSize: 1GiB